header {
  border-color: aliceblue;
  border-style: dashed;
  border-radius: 100px;
  font-size: 2em;
  background-color: black;
  color: orangered;
  text-align: center;
}
body {
  background-color: orangered;
  color: black;
}
li {
  list-style: none;
  display: inline;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: orangered;
  padding-bottom: 1em;
}
a:hover,
a:visited {
  color: aliceblue;
}
a:active {
  color: #333;
}
nav {
  padding-bottom: 1em;
}
div {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
p.text {
  color: aliceblue;
  overflow: hidden;
}

span {
  font-weight: bolder;
  color: black;
}
.float {
  float: left;
  margin-right: 5px;
}
.clear {
  clear: both;
}
.shrink {
  height: 300px;
}
.funky-text {
  line-height: 25px;
  letter-spacing: 5px;
  text-transform: capitalize;
  text-shadow: 3px 3px 4px white;
}
.collage {
  max-width: 1330px;
  margin: auto;
  font-size: 0px;
}
.collage img {
  display: inline-block;
  transform: rotate(2deg);
  margin: -5px;

}
.collage img:hover{
  position: relative;
  z-index: 2;
  transform: scale(1.1);
  cursor: pointer;
}